/110000105781055.jpg
/1211602803_Furkan_Tunc.pdf
/deneme.py
/furkantunc.pdf
/Furkan_Tunç.rar
/istatistik_pdf.docx
/makine öğrenmesi notlar.docx
/Ödev Çözüm Dosyası.py
/Yatırım_sunumu.pdf
/Yatırım_sunumu.pptx
/Yeni Microsoft Word Belgesi (2).docx
/Yeni Microsoft Word Belgesi.docx